<!-- 
  @Author: Sam Zhang
  @Date:   2020-04-10 20:05:45
  @Last Modified by:   Sam Zhang
  @Last Modified time: 2020-04-14 11:33:03
-->

{% extends 'base.html' %}

{% block title %}百度版{% endblock %}

{% block top %}{% endblock %}

{% block content %}
    <a onclick="changeTheme()" href="" class="float-right" style="margin-right: 10%;" title="换肤"><i class="fa fa-adjust"></i></a>
    <div class="container">
        <h1 class="display-4 text-center m-5">
            广度搜索 <small><small><small class="font-italic font-weight-light text-primary">V1.0</small></small></small>
            <small><small><small><small><p></p><p class="font-italic text-center text-primary">Baidu 版</p></small></small></small></small>
        </h1>
        <form method="post">
            <div class="input-group input-group-lg">
                <input class="form-control form-control-lg rounded-0" name="query" type="search" autocomplete="off">
                <button class="btn btn-outline-primary rounded-0" type="submit">广度搜索</button>
            </div>
        </form>
        <hr>
        <p class="text-center">广度搜索也提供<a href="{{ url_for('google.index') }}">Google 版</a> | <a href="/">返回首页</a></p>
    </div>
{% endblock %}