<!-- 
  @Author: Sam Zhang
  @Date:   2020-04-10 20:05:53
  @Last Modified by:   Sam Zhang
  @Last Modified time: 2020-05-06 17:25:27
-->

{% extends 'base.html' %}

{% block title %}{{ keyword }}{% endblock %}

{% block top %}{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark bg-primary fixed-top shadow shadow-sm">
        <a class="navbar-brand d-none d-lg-block" href="/">广度搜索 <small class="text-warning">Google版</small></a>
        <form method="post" class="container search" style="margin-left: 0"
                action="{{ url_for('google.index') }}">
            <div class="input-group">
                <input class="form-control" name="query" value="{{ keyword }}" id="search" autocomplete="off" type="search">
                <button class="btn btn-success" type="submit">广度搜索</button>
            </div>
        </form>
        <a onclick="changeTheme()" href="" class="text-white" title="换肤"><i class="fa fa-adjust"></i></a>
    </nav>
    <br><br><br><br>
    <iframe id="iframe" onload="$(this).fadeIn(500); show()" src="{{ url_for('google.search_s', q=keyword, page=cur) }}" class="iframe" seamless="seamless"></iframe>
    <div class="d-flex justify-content-center text-dark" id="load-container">
        <div class="d-flex bg-light p-4 rounded shadow shadow-sm" id="load-sub">
            <div class="spinner-grow text-primary" role="status" id="load">
                <span class="sr-only" id="load-sr">加载中...</span>
            </div>
            <strong id="load-text" class="text-right align-text-bottom" style="margin-left: 20px;">广度正在努力加载中，请耐心等待...</strong>
        </div>
    </div>
    </div>
    <script>
        function hide() {
            $("#iframe").hide();
            $("#load-container").fadeIn(500);
            $("#load").fadeIn(500);
            $("#load-sr").fadeIn(500);
            $("#load-text").fadeIn(500);
            $("#load-sub").fadeIn(500);
        }
        function show() {
            $("#load-container").fadeOut(500);
            $("#load").fadeOut(500);
            $("#load-sr").fadeOut(500);
            $("#load-sub").remove();
            $("#load-text").fadeOut(500);
        }
        window.onload = hide();
    </script>
{% endblock %}