<!-- 
  @Author: Sam Zhang
  @Date:   2020-04-10 20:05:53
  @Last Modified by:   Sam Zhang
  @Last Modified time: 2020-04-14 11:33:18
-->

{% extends 'base.html' %}

{% block title %}{{ keyword }}{% endblock %}

{% block top %}{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">广度搜索 <small class="text-warning">Google版</small></a>
        <form method="post" class="container-fluid" style="max-width: 60%; margin-left: 0"
                action="{{ url_for('google.index') }}">
            <div class="input-group">
                <input class="form-control" name="query" value="{{ keyword }}" id="search" autocomplete="off" type="search">
                <button class="btn btn-success" type="submit">广度搜索</button>
            </div>
        </form>
        <a onclick="changeTheme()" href="" class="text-white" title="换肤"><i class="fa fa-adjust"></i></a>
    </nav>
    <br><br><br><br>
    <iframe id="iframe" onload="$(this).fadeIn(500); show()" seamless="seamless" src="{{ url_for('google.search_s', q=keyword, page=cur) }}" class="iframe"></iframe>
    <div class="d-flex justify-content-center" id="load-container">
        <div class="spinner-border text-primary" role="status" id="load">
            <span class="sr-only" id="load-sr">加载中...</span>
        </div>
        <!--<strong id="load-text" class="text-right" style="margin-left: 20px;">加载中...</strong>-->
    </div>
    </div>
    <script>
        function hide() {
            $("#iframe").hide();
            $("#load-container").fadeIn(500);
            $("#load").fadeIn(500);
            $("#load-sr").fadeIn(500);
        }
        function show() {
            $("#load-container").fadeOut(500);
            $("#load").fadeOut(500);
            $("#load-sr").fadeOut(500);
        }
        window.onload = hide();
    </script>
{% endblock %}