<!-- 
  @Author: Sam Zhang
  @Date:   2020-04-10 20:05:39
  @Last Modified by:   Sam Zhang
  @Last Modified time: 2020-04-14 14:24:35
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - 广度搜索</title>
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% set cookie = request.cookies.get('theme') %}
    {% if not cookie %} {% set cookie = 'light' %} {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename=cookie + '.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='guangdu.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</head>
<body {% block body %}{% endblock %}>
    {% block top %}
        <br><br>
    {% endblock %}
    {% block content %}{% endblock %}
    <br><br>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>